<div class="container">
  <div class="row">
    <div class="span7">
      <div id="front-welcome">
        <div class="front-title">
          <h1 class="pagination-left grey-text">LoveMonkey</h1>
          <h3 class="pagination-left grey-text">Express your appreciation for friends &amp; co-workers.</h3>
        </div>
      </div>
    </div>
    <div class="span5">
      <div id="front-info" class="row section">
        <h2>Share the Love!</h2>
        <p>
          <strong>LoveMonkey</strong> is a simple tool to publicly say
          "thanks" to friends, family &amp; co-workers. When someone's done
          something nice or clever or happy-making, enter their name and a
          comment in the <a href="#/dashboard">Love Generator</a> and click
          the Button of Love. We'll then send them a note saying how much you
          love them.
        </p>

        <p>
          But hey! Why keep your love a secret? You can post your love for
          someone on twitter or facebook so your twitter followers can
          express their love too!
        </p>

        <p>
          <a href="#/login">Log in or Register</a> today to start loving up
          your friends!
        </p>
      </div>
    </div>
  </div>
</div>
