<div class="container">
  <div class="row">
    <div class="span12">
      <div id="love">
        <h1>Love</h1>
        <table>
          <tbody>
            <tr>
              <td class="love-key">Lover(s)?</td>
              <td><input type="text" value="root@example.com" readonly="readonly"/></td>
            </tr>
            <tr>
              <td class="love-key">Lovee?</td>
              <td><input type="text" value="@OhMeadhbh" readonly="readonly"/></td>
            </tr>
            <tr>
              <td class="love-key">When?</td>
              <td><input type="text" value="12:42PM 04/23/2013" readonly="readonly"/></td>
            <tr>
              <td class="love-key">Pourquoi l'amour?</td>
              <td><textarea readonly="readonly">For remembering to use example.com for your examples (instead of the borked lovemonkey address)</textarea></td>
            </tr>
          </tbody>
        </table>
        <button class="btn">Re-Love</button>
    </div>
  </div>
</div>
